/* ----------- GLOBAL -----------*/
*{
    box-sizing: border-box;
}
.body{
    /* background-color: #f4f2ff; */
    height: 100%;
}
:root{
    --blue-header: #7d60ff;
    --blue-Oscuro: #131250;
    --white: white;
    --gray-box-shadow: #B8B8B8;
}
/* estructure */
.only{
    text-align: center;
    margin: 20px;
}
/* aside */
.aside{
    position: fixed;
    top: 55px;
    width: 250px;
    padding: 20px;
    padding-left: 1px;
    height: calc(100vh - 55px);
    overflow-y: auto;
    box-shadow: 6px 0 10px -5px var(--gray-box-shadow);
}
.option-table{
    padding: 0 10px 0 300px;
    margin-bottom: 10px;
}
.option-table .col{
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    border: 2px solid #252397;
    padding: 0;
    background-color: var(--white);
}
.option-table .NavLink{
    display: block;
    color: var(--blue-Oscuro);
}
.option-table .NavLink:hover{
    color: var(--white);
    background-color: #5a57e7;
}

.div-filter input, .div-filter label{
    font-size: 20px;
    margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;
}
.div-filter-type{
    margin: 20px 0;
}
.div-filter-type select, .div-filter-type input{
    width: 100%;
    height: 30px;
}
.aside-name{
    display: inline-block;
    margin: 0px 15px 10px 0; 
}
.fa-info-circle{
    opacity: 0.4;
}
.aside-input{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
}
.aside-btn{
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: lightskyblue;
}
.aside-btn:hover{
    background-color: rgb(112, 188, 235);
}
@media screen and (max-width: 600px) {
    .option-table{
        padding: 0 10px 10px;
    }
    .aside{
        position: initial;
        width: 100%;
        height: auto;
        padding: 0;
        box-shadow: 0 0;
    }
    .aside{
        padding-top: 20px;
    }
    .aside-top{
        padding-top: 0px;
    }
    .aside-top h3{
        margin-bottom: 10px;
    }
    .main2{
        margin: 0px;
    }
}
/* main */
.main{
    padding: 20px;
}
.main2{
    margin-left: 290px;
}
/* tablas responsive */
.div-table{
    display: block;
    overflow-x: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px var(--gray-box-shadow);
}
.table{
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}
.table thead{
    background-color: var(--blue-Oscuro);
    color: var(--white);
}
.table th, .table td{
    padding: 7px;
}
.table tbody tr:nth-child(odd) {
    background-color: var(--white);
}
.btn1-table{
    background-color: lightgreen;
}
.btn2-table{
    background-color: lightcoral;
}
.NavLink{
    text-decoration: none;
}

/* ----------- INDEX (Login, signin)-----------*/
/* cuerpo index */
.cont{
    margin: auto;
    width: 100%;
    max-width: 450px;
    padding: 0 20px 20px;
}
.cont-signin{
    max-width: 600px;
}
.div-logo{
    text-align: center;
}
.logo-login{
    margin: 30px;
    max-width: 400px;
}
.div-index{
    background-color: var(--white);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 #C2C2C2;
}
.div-index h3{
     font-family: Century Gothic;
}
/* iputs */
.form-floating .form-control, .selected{
    margin-top: 20px;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid black;
}
input.form-control:focus, button.btn-index:focus{
    box-shadow: 0 0;
}
.form-floating label{
    margin-top: 15px;
    margin-left: 10px;
}
.required{
    text-align: left;
    font-size: 12px;
    margin-bottom: 0;
    color: red;
}
/* button show pass */
.row .col-show-pass{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 0;
    width: 39px;
}
.btn-show-pass{
    border: none;
    background-color: transparent;
}
.btn-show-pass .fas{
    font-size: 22px;
    display: flex; /*arregla el margin por defecto del icono*/
}
/* buttons */
.btn-index{
    width: 100%; 
    height: 40px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: lightskyblue;
}
.btn-blue{
    margin-top: 20px;
}
.btn-blue:hover{
    background-color: rgb(112, 188, 235);
}
.btn-green{
    background-color: lightgreen;
}
.btn-green:hover{
    background-color: rgb(121, 219, 121);
}


/* ----------- HOME -----------*/
/* Header */
.header{
    height: 55px;
    background-color: var(--blue-header);
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    top: 0;
    z-index: 100;
}
.div-bars-logo{
    padding-left: 20px;
    align-items: center;
    display: flex;
    height: 100%;
    background: linear-gradient(to right,  var(--white),  var(--blue-header));
}
.div-bars{
    background-color: #6044dd;
    margin-right: 10px;
    padding: 10px;
    border-radius: 50%;
    color: var(--white);
    box-shadow: 1px 1px #3F3F3F;
    font-size: 18px;
    display: none;
    cursor: pointer;
}
.div-bars:active {
    background-color: #7b62e9;
}
.logo-header{
    height: 100%;
}
.logo-header{
    height: 100%;
    padding: 7px 0 4px;
    cursor: pointer;
}
.nav-father{
    width: 100%;
    justify-content: right;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.nav-menu{
    margin: 0px 10px;
}
.nav-menu-popup{
    opacity: 0;
    background: black;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 200;
}
.nav-menu-left{
    top: 0;
    left: 0;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    display: block;
    width: 0;
    background-color: #6b52db;
    z-index: 300;
}
.txt-menu, .txt-menu-left{
    margin: 0px 10px;
    font-size: 17px;
    color: var(--white);
    text-decoration: none;
}
.txt-menu:hover{
    color: var(--blue-Oscuro);
}

.menu-logo-user{
    border-left: 2px solid var(--blue-Oscuro);
}
.fa-user-circle{
    margin-left: 10px;
    font-size: 35px;
    color: var(--blue-Oscuro);
    cursor: pointer;
}
.t-m-name{
    color: var(--blue-Oscuro);
    font-weight: 500;
    font-size: 19px;
    margin-left: 5px;
    margin-right: 0;
}

@media screen and (max-width: 950px) {
    .div-bars{
        display: flex;
    }
    .logo-header{
        height: 90%;
    }
    .nav-father{
        margin-right: 20px;
    }
    .nav-menu{
        display: none;
    }
    .nav-menu-left .txt-menu{
        white-space: nowrap;
        margin: 0;
        font-size: 19px;
        padding: 15px;
        display: block;
        border-bottom: 2px solid var(--blue-Oscuro);
    }
    .txt-menu:hover{
        background-color: #bfb1f5;
    }
    .menu-logo-user{
        border-left: none;
    }
}
@media screen and (max-width: 575px) {
    .t-m-name{
        display:none;
    }
}
/* main */
.main2-home{
    margin-top: 20px;
    text-align: center;
    background-color: #5957d3;
    color: var(--white);
    padding: 20px;
}
.our-catalog-home{
    background-color: var(--white);
    text-align: center;
}
.our-catalog-home h2{
    margin-top: 20px;
    background-color: rgb(241, 233, 116);
    padding: 15px;
    color: var(--blue-Oscuro);
    text-decoration: underline var(--blue-Oscuro);
}
.our-catalog-home h2:hover{
    color: var(--white);
    text-decoration: underline var(--white);
}
.div-laptops-home {
    display: flex;
    overflow-x: scroll;
    align-items: center;
}
.div-laptops-home img{
    margin: 0 50px;
    min-height: 240px;
}


/* ----------- ORDERS -----------*/
/* ASE */
/* aside */
.alert1, .alert2{
    text-align: center;
}
.aside-table-ord{
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 10px 0 var(--gray-box-shadow);
}
.inp-asi{
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
}
.btn-aside-ord{
    margin: 5px 7px 10px;
}
/* products */
.main2-orders h1{
    margin: 10px 0;
}
.col-orders{
    padding: 10px;
}
.div-table-prod{
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: 0 0 10px 0 var(--gray-box-shadow);
    padding: 10px;
    height: 100%;
}
.table-ord-prod{
    width: 100%;
    height: 100%;
}
.table-ord-prod thead{
    text-align: center;
}
.div-table-prod img{
    max-height: 100px;
}
.table-ord-prod tbody th{
    padding-right: 10px;
}
.table-ord-prod td{
    text-align: right;
}
.table-ord-prod .description{
    text-align: center;
}
/* COOR */
.main-orders-coor h1{
    margin: 30px;
    text-align: center;
}
.div-table-status{
    margin: 10px auto 0;
    max-width: 300px;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .div-table-prod img{
        max-height: 200px;
    }
}

/* ----------- MY ORDERS -----------*
/* main */
.title-page{
    margin: 10px 0 30px;
    text-align: center;
}
.details{
    margin: 30px;
    text-align: center;
}


/* ----------- MY PROFILE -----------*/
/* card */
.body-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    background: linear-gradient(-45deg, #9ceec5, #f8eca9) fixed;
}
.cont-profile{
    background-color: var(--white);
    width: 100%;
    max-width: 650px;
    display: flex;
    align-items: center;
    height: 350px;
    box-shadow: 0 0 10px var(--gray-box-shadow);
    border-radius: 10px;
    overflow: hidden;
}
.div-avatar-father{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    max-width: 170px;
    height: 100%;
    background: linear-gradient(to right, #c6a3dd, #9abdc9);
    margin-right: 70px;
    box-shadow: 0px 0 20px var(--gray-box-shadow);
}
.div-avatar{
    background-color: var(--white);
    border-radius: 50%;
    padding: 5px;
    position: relative;
    right: -65px;
}
.avatar{
    width: 130px;
}
/* info */
.profile-info{
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.profile-head p{
    margin: 0;
    font-weight: 600;
    font-size: 30px;
}
.profile-head hr{
    margin-right: 50px;
}
.profile-head label{
    font-size: 19px;
}
.profile-body .col{
    padding-top: 5px;
    padding-bottom: 5px;
}
.profile-body .th{
    font-weight: 700;
}
.profile-body{
    font-size: 15px;
}
.btn-profile{
    margin: 20px 40px 0 0;
    width: 100px;
    height: 40px;
    border: none;
    font-weight: 500;
    color: var(--white);
    border-radius: 50px;
}
.btn-logout{
    box-shadow: 5px 5px 10px rgb(236, 105, 105 , 0.4);
    background: linear-gradient(to right, #ec6969, #f0b066);
}
.btn-home{
    box-shadow: 5px 5px 10px rgb(106, 223, 125 , 0.4);
    background: linear-gradient(to right, #6adf7d, #57dabd);
}
@media screen and (max-width: 700px) {
    .cont-profile{
        display: block;
        max-width: 400px;
        height: auto;
    }
    .div-avatar-father{
        justify-content: center;
        width: 100%;
        max-width: 100%;
        background: linear-gradient(to top, #c6a3dd, #9abdc9);
        margin-bottom: 50px;
    }
    .div-avatar{
        right: 0px;
        bottom: -65px;
    }
    /* info */
    .profile-info{
        text-align: center;
        padding: 10px;
    }
    .profile-head hr{
        margin-right: 0;
    }
    .btn-profile{
        margin: 10px 20px;
    }
}